@import "~bootstrap/scss/bootstrap-utilities";

$dark-blue: #03045e;
$dark-blue-hover: #03044d;
$light-blue-hover: #023e8a;
$input-focus-box-shadow: none;
$btn-focus-box-shadow: none;

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed,
    ),
    "color": (
      property: color,
      class: text,
      values:
        map-merge(
          $theme-colors,
          (
            "dark-blue": $dark-blue,
            "dark-blue-hover": $dark-blue-hover,
            "light-blue-hover": $light-blue-hover,
          )
        ),
    ),
    "background-color": (
      property: background-color,
      class: bg,
      values:
        map-merge(
          $theme-colors,
          (
            "dark-blue": $dark-blue,
          )
        ),
    ),
  )
);

@each $name, $value in $theme-colors {
  .btn.btn-#{$name}:focus {
    box-shadow: none !important;
  }
}
