@import "./assets/utillity";
@import "~bootstrap/scss/bootstrap";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//SIDE
.nav-item {
  display: block;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: darken($color: #fff, $amount: 30);
  transition: all 600ms linear;
  margin: 0.5rem 0;
  padding: 1rem 0.5rem;
  &:hover,
  &.active {
    color: white;
    background-color: $dark-blue-hover;
  }
  &.active {
    color: darken($color: #fff, $amount: 10);
  }
}

//MAIN
//REACT DATA TABLE
.rdt_TableHeadRow {
  border-bottom-color: transparent !important;
}
.rdt_TableRow {
  padding-top: 25px;
  padding-bottom: 25px;
}

.rdt_Pagination {
  div select {
    outline: 0;
  }
}
